<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Trading Margin Calculator</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
	<style type="text/css">
		body {
			background-color: hsl(0, 0%, 30%);
			height: 100vh;
		}
	</style>
</head>
<body>
	<div id="app">
		<section class="section">
			<div class="container">
				<div class="columns">
					<div class="column is-half is-offset-one-quarter">
						<div class="card">
							<div class="card-header has-background-dark">
								<p class="card-header-title has-text-white">Margin Calculator</p>
							</div>
							<div class="card-content">
								<label class="label">Direction</label>
								<div class="field is-horizontal">
									<div class="field-body">
										<div class="field is-narrow">
											<div class="control">
												<label class="radio">
													<input type="radio" name="direction" value="Long" v-model="direction">
													Long
												</label>
												<label class="radio">
													<input type="radio" name="direction" value="Short" v-model="direction">
													Short
												</label>
											</div>
										</div>
									</div>
								</div>
								<div class="columns">
									<div class="column">
										<div class="field">
											<label class="label">Margin</label>
											<div class="control">
												<input class="input" type="number" v-model="margin" placeholder="Entry margin...">
											</div>
										</div>
									</div>
									<div class="column">
										<div class="field">
											<label class="label">Leverage</label>
											<div class="control">
												<input class="input" type="number" v-model="leverage" placeholder="Entry leverage...">
											</div>
										</div>
									</div>
									<div class="column">
										<div class="field">
											<label class="label">Open Price</label>
											<div class="control">
												<input class="input" type="number" v-model="open_price" placeholder="Entry open price...">
											</div>
										</div>
									</div>
								</div>
								<!-- <div class="field">
									<label class="label">Close Price</label>
									<div class="control">
										<input class="input" type="number" v-model="close_price" placeholder="Entry close price...">
									</div>
								</div> -->
								<hr>
								<div class="columns">
									<div class="column">
										<div class="field">
											<label class="label has-text-success">Take Profit (%)</label>
											<div class="control">
												<input class="input" type="number" v-model="target_percent_gain" placeholder="Percent gain...">
											</div>
										</div>
									</div>
									<div class="column">
										<div class="field">
											<label class="label has-text-danger">Stop Loss (%)</label>
											<div class="control">
												<input class="input" type="number" v-model="target_percent_loss" placeholder="Percent gain...">
											</div>
										</div>
									</div>
								</div>
								<br>
								<p>Position Size: {{ position }}</p>
								<!-- <p>P/L: <span :class="changeClass" >{{ p_and_l }}</span> </p> -->
								<hr>
								<div class="columns">
									<div class="column has-text-success">
										<p>Profit: {{ profit_pl }} </p>
										<p>Profit Close Price: {{ profit_cp }} </p>
									</div>
									<div class="column has-text-danger">
										<p>Loss: {{ loss_pl }} </p>
										<p>Profit Close Price: {{ loss_cp }} </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script>
		var app3 = new Vue({
			el: '#app',
			data: {
				margin: '',
				leverage: '',
				open_price: '',
				close_price: '',
				target_percent_gain: 200,
				target_percent_loss: -80,
				direction: 'Long',
			},
			computed: {
				position(){
					if (this.margin && this.leverage && this.open_price) {
						return parseFloat(this.margin * this.leverage) / parseFloat(this.open_price);
					}
				},
				p_and_l(){
					if (this.open_price && this.close_price) {
						if (this.direction === 'Long') {
							return this.position * (this.close_price - this.open_price);
						}else{
							return this.position * (this.open_price - this.close_price);
						}
					}
				},
				profit_pl(){
					return (this.target_percent_gain * this.margin)/100;
				},
				profit_cp(){
					if (this.open_price) {
						if (this.direction === 'Long') {
							return parseFloat(this.open_price) + parseFloat(this.profit_pl / this.position);
						} else {
							return parseFloat(this.open_price) - parseFloat(this.profit_pl / this.position);
						}
					}
				},
				loss_pl(){
					return (this.target_percent_loss * this.margin)/100;
				},
				loss_cp(){
					if (this.open_price) {
						if (this.direction === 'Long') {
							return parseFloat(this.open_price) + parseFloat(this.loss_pl / this.position);
						} else {
							return parseFloat(this.open_price) - parseFloat(this.loss_pl / this.position);
						}
					}
				},
				changeClass(){
					if (this.p_and_l < 0) {
						return 'has-text-danger';
					}else{
						return 'has-text-success';
					}
				}
			}
		})
	</script>
</body>
</html>